extends layout

block content
  h1= title
  p This is Saivivek Reddy Board of Director GK Group
  button(type="button" class="btn btn-secondary")= 'Press Me'
  
  div(id="target") text of Display 

  script.
    var client_count = 0;
    function update(){
      client_count +=1;
      document.getElementById("target").innerHTML = "Value now " + client_count;
    }