extends layout

block content
  h1= title
  p Webapps Assignment 10 Saivivek Reddy
  button(type='button',onclick='update()',class='btn btn-primary') Hit Me!
  
  div(id="target") text of Display 

  script.
    var client_count = 0;
    function update(){
      client_count +=1;
      document.getElementById("target").innerHTML = "Value now " + client_count;
    }

     a(href='umbrella') umbrella