extends layout

block content
  h1= title
  - let image_names = ['umbrella1.jpg','umbrella2.jpg','umbrella3.jpg','umbrella4.jpg','umbrella5.jpg']
  - for(let i=0;i<3;i++){
      - let rno = Math.floor(Math.random()*5)
      - let iname = image_names[rno]

      img(src=`images/${iname}` alt='restaurant' style='width:300px; height:300px;')
      |    
  - }