extends layout

block content
  h1= title
  - const umbrella = ['umbrella_type','color','cost']
  - let results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each results, index in umbrella
        div(class='col-sm-2' onclick='buy('+index+')') #{results}